/* ========================================= */
/* GERAL */
/* ========================================= */

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #000000, #3a2a00);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========================================= */
/* CONTAINER */
/* ========================================= */

.container{
    background: rgba(#1a1a1a);
    padding: 40px;
    width: 320px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10pxx 30px rgba(0, 0, 0, 0, 4);
    text-align: center;
    color: rgb(74, 6, 120);
    border: 5px solid #FFD700;
}

.container h2{
    margin-bottom: 25px;
    font-weight: 600;
    color: white;
}

/* ========================================= */
/* FORMULÁRIO */
/* ========================================= */

form input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 14px;
    border: 2px solid #FFD700;
}

form input::placeholder{
    color: #ddd;
}

form input:focus{
    background: rgba(255, 255, 255, 0.3);
}

/* ========================================= */
/* BOTÃO */
/* ========================================= */

button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #ffd900d5, #ffb7008f);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 3);
}

/* ========================================= */
/* LINK DE CADASTRO/LOGIN */
/* ========================================= */

.link{
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    background: linear-gradient(135deg, #ffb7008f);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 15px;
}

.link a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover{
    text-decoration: underline;
}

/* ========================================= */
/* BOTÃO VOLTAR */
/* ========================================= */

.bb{
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    background: linear-gradient(135deg, #ffb7008f);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 15px;
}
